-# This file is app/views/logins/index.html.haml
!!! 5

%html
  %head
    %title
      Login
    = stylesheet_link_tag("style")
    = javascript_include_tag("application")
    %script{:type=>"text/javascript", :src=>"http://maps.google.com/maps/api/js?sensor=true"}
    %script{:type=>"text/javascript", :src=>"https://raw.github.com/HPNeo/gmaps/master/gmaps.js"}
    %script{:type=>"text/javascript", :src=>"http://hpneo.github.com/gmaps/prettify/prettify.js"}
    %link{:href=>"http://fonts.googleapis.com/css?family=Convergence|Bitter|Droid+Sans|Ubuntu+Mono", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"http://hpneo.github.com/gmaps/prettify/prettify.css", :rel=>"stylesheet", :type=>"text/css"}
    :css
      body {
        background: url("assets/snowmountain.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
  %body
    .blackout
    .container
      .vspacer15
      .clear
      #frontpage-icon
        %img{:src => "assets/landskape_logo_winter.png"}
        .mission-statement
          A place to find beautiful views around you.
      #fields
        %div.logindiv
          %h1.index-shadow
            Login
          /.vspacer15
          %form.signup{:action=>"#{logins_path()}", :method=>"post", :style=>""}
            %fieldset
              If you already have an account, sign in!
              %hr
              - if defined? @login_fail and @login_fail
                .error-message
                  #{@error_message}
              %input{:type=>"hidden", :name=>"user_auth_action", :value=>"login"}
              %label{:for=>"username"}
                Username
              %input{:type=>"text", :name=>"username", :id=>"username", :maxlength=>"50"}
              %label{:for=>"password"}
                Password
              %input{:type=>"password", :name=>"password", :id=>"password", :maxlength=>"50"}
              %input.btn{:type=>"submit", :name=>"submit", :value=>"Login", :style=>"float: right;"}
        %div.logindiv
          %h1.index-shadow
            Register
          %form.signup#register_form{:action=>"#{logins_path()}", :method=>"post"}
            %fieldset
              Sign up to view the content on the site.
              %hr
              - if defined? @signup_fail and @signup_fail
                .error-message
                  #{@error_message}
              %input#latitude{:type=>"hidden", :name=>"latitude"}
              %input#longitude{:type=>"hidden", :name=>"longitude"}
              %input{:type=>"hidden", :name=>"user_auth_action", :value=>"signup"}
              %label{:for=>"username"}
                Username
              %input{:type=>"text", :name=>"username", :id=>"username", :maxlength=>"50"}
              %label{:for=>"password"}
                Password
              %input{:type=>"password", :name=>"password", :id=>"password", :maxlength=>"50"}
              %label{:for=>"city"}
                City
              %input{:type=>"text", :name=>"city", :id=>"city", :maxlength=>"50"}
              %label{:for=>"state"}
                State
              %input{:type=>"text", :name=>"state", :id=>"state", :maxlength=>"50"}
              %label{:for=>"bio"}
                Bio
              %input{:type=>"text", :name=>"bio", :id=>"bio", :maxlength=>"50"}
              %input.btn#register_button{:type=>"submit", :name=>"submit", :value=>"Register", :style=>"float: right;"}
      %div#select-location
        %form#geocoding_form{:method=>"post"}
          %h4
            Pinpoint a Location:
          %div.input
            %input#address{:type=>"text", :name=>"address"}
            %button.btn#button{:type=>"submit"}
              %i.icon-search
            .clear
        %div.popin
          %div#map
        %button.btn#fake_submit2
          Register

    :javascript
      $(function() {
        lat = 0;
        lon = 0;
        prettyPrint();
        map = new GMaps({
          div: '#map',
          lat: -12.043333,
          lng: -77.028333
        });
        map.addListener('click', function(event) {
          map.removeMarkers();
          marker = map.addMarker({
            lat: event.latLng.lat(),
            lng: event.latLng.lng(),
            title: "asdf",
            infoWindow: {
              content: "<p> HTML content</p>"
            }
          });
          lat = event.latLng.lat();
          lon = event.latLng.lng();
        });
        $('#geocoding_form').submit(function(e){
          e.preventDefault();
          GMaps.geocode({
            address: $('#address').val().trim(),
            callback: function(results, status){
              if(status=='OK'){
                var latlng = results[0].geometry.location;
                map.setCenter(latlng.lat(), latlng.lng());
                map.addMarker({
                  lat: latlng.lat(),
                  lng: latlng.lng()
                });
                lat = latlng.lat();
                lng = latlng.lng();
              }
            }
          });
        });
        $("#register_form").submit(function(e){
          if (!true_submit) {
            e.preventDefault();
            $("#address").attr("value", $("#city").attr("value") + ", " + $("#state").attr("value"));
            $("#geocoding_form").submit();
            $("#select-location").css('visibility','visible');
            $(".blackout").css('visibility','visible');
          }
        })
        $(".blackout").click(function() {
          $(this).css('visibility','hidden');
          $("#select-location").css('visibility','hidden');
        });
        true_submit = false;
        $("#fake_submit2").click(function(e) {
          $("#latitude").val(lat);
          $("#longitude").val(lon);
          true_submit = true;
          $("#register_button").click();
        });
      });


