!!! 5

%html
  %head
    %title
      Photos
    = stylesheet_link_tag("style")
    = javascript_include_tag("application")
    = javascript_include_tag("userpage")
  %body
    .container
      = render :partial => "partial/topbar", :locals => {:user => @user}
      = @photos
      %h3
        #{@user.username}'s photos
      %span{:style =>"font-size:14px;font-weight:bold;"}
        %div{:style=>"padding-top: 0px; padding-bottom: 0px"}
          More Info about #{@user.username}:
        .user-bio{:style => "height: 0px;"}
          #{@user.bio}
        .show-bar{:style=>"position:relative;left:0px;margin-bottom:10px;"}
          .btn#showbutton
            show
      %div
        %button
          Previous Page
        %button
          Next Page
      -#- for p in @photos do
      %div.column1
        %div.pic-thumb#pic-1
          %div.pic-thumb-hover-content
            %img.heart{:src => "assets/heart_unselected.png", :class => "btn"}
            %a.comment-button.btn.filters-text
              comment
            .clear
          %img.pic.pic{:src => "assets/greenery.jpg", :class => "pic"}
        %div.pic-thumb#pic-2
          %div.pic-thumb-hover-content
            %img.heart{:src => "assets/heart_unselected.png", :class => "btn"}
            %a.comment-button.btn.filters-text
              comment
            .clear
          %img.pic{:src => "assets/forest_path.jpg", :class => "pic"}
        %div.pic-thumb#pic-3
          %div.pic-thumb-hover-content
            %img.heart{:src => "assets/heart_unselected.png", :class => "btn"}
            %a.comment-button.btn.filters-text
              comment
            .clear
          %img.pic{:src => "assets/lake_fall.jpg", :class => "pic"}

      %div.column2
        %div.pic-thumb#pic-4
          %div.pic-thumb-hover-content
            %img.heart{:src => "assets/heart_unselected.png", :class => "btn"}
            %a.comment-button.btn.filters-text
              comment
            .clear
          %img.pic{:src => "assets/lake_fall.jpg", :class => "pic"}
        %div.pic-thumb#pic-5
          %div.pic-thumb-hover-content
            %img.heart{:src => "assets/heart_unselected.png", :class => "btn"}
            %a.comment-button.btn.filters-text
              comment
            .clear
          %img.pic{:src => "assets/greenery.jpg", :class => "pic"}
        %div.pic-thumb#pic-6
          %div.pic-thumb-hover-content
            %img.heart{:src => "assets/heart_unselected.png", :class => "btn"}
            %a.comment-button.btn.filters-text
              comment
            .clear
          %img.pic.pic{:src => "assets/forest_path.jpg", :class => "pic"}

      %div.column3
        %div.pic-thumb#pic-7
          %div.pic-thumb-hover-content
            %img.heart{:src => "assets/heart_unselected.png", :class => "btn"}
            %a.comment-button.btn.filters-text
              comment
            .clear
          %img.pic{:src => "assets/forest_path.jpg", :class => "pic"}
        %div.pic-thumb#pic-8
          %div.pic-thumb-hover-content
            %img.heart{:src => "assets/heart_unselected.png", :class => "btn"}
            %a.comment-button.btn.filters-text
              comment
            .clear
          %img.pic{:src => "assets/lake_fall.jpg", :class => "pic"}
        %div.pic-thumb#pic-9
          %div.pic-thumb-hover-content
            %img.heart{:src => "assets/heart_unselected.png", :class => "btn"}
            %a.comment-button.btn.filters-text
              comment
            .clear
          %img.pic{:src => "assets/greenery.jpg", :class => "pic"}
      .clear
    .black-background#photo-popup-view
      .black-background-specific
      .popup
        .popup-left
          %img{:src=>"assets/lake_fall.jpg"}
        .popup-right
          %div.popup-username-like
            %div.popup-username
              %a{:href=>"/user", :style=>"font-size:1.1em;"}
                amadeus
            %div.popup-like
              %img.heart{:src=>"assets/heart_unselected.png"}
              %span.like-count
                12
          %div.popup-location
            %a.map-popup{:style=>"text-decoration:underline;cursor:pointer;"}
              Berkeley, CA&nbsp;&nbsp;&nbsp;
              %img{:src=>"assets/pin.png", :style=>"float:right;position:relative;top:2px;left:-128px;width:15px;margin-right:2px;"}
          %div.popup-description
            "Beautiful lake with a nice view of the fall leaf colors."
          .vspacer15
          .hr-divider
          %div.popup-comment-box
            .popup-comment
              %span.popup-comment-username
                %a{:href=>"/userchopin"}
                  &nbsp;chopin:
              %span.popup-comment-text
                Looks inspiring for composing music!
            .popup-comment
              %span.popup-comment-username
                %a{:href=>"/userliszt"}
                  &nbsp;liszt:
              %span.popup-comment-text
                Red, yellow, orange colors look sick.
            %div.popup-comment-input
              %input{:type=>"text", :style=>"width:170px;height:13px;font-size:0.7em;position:relative;top:2px;margin-left:7px;"}
              %a.btn.btn-mini{:style=>"position:relative;top:-3px;"}
                comment
    .black-background#map-popup-view
      .black-background-specific
      .popup
        .popup-left
          %img{:src=>"assets/map.png"}
        .popup-right
          .map-pin{:style=>"cursor:pointer;"}
            %img{:src=>"assets/pin.png"}
          .map-describe
            Drag pin to update the landskape's location.
            %a.btn.btn-warning#update-location{:style=>"width:130px;margin:0 auto;position:relative;top:100px;display:block;"}
              Update Location





