!!! 5

%html
  %head
    %title
      Photos
    = stylesheet_link_tag("style")
    = javascript_include_tag("application")
  %body
    .container
      = render :partial => "partial/topbar", :locals => {:user => @user}
      -#%script{:type=>"text/javascript", :src=>"http://hpneo.github.com/gmaps/prettify/prettify.js"}
      = render :partial => "partial/filters_bar"
      %h3
        Viewing:
        %span#viewing #{@viewing}
      /%div
      /  %button
      /    Previous Page
      /  %button
      /    Next Page
      %div.all_pictures
        - if @photos.first != nil
          - plength = @photos.length
          - @photos_first = @photos[0..plength/3]
          - @photos_second = @photos[plength/3+1..2*plength/3+1]
          - @photos_third = @photos[2*plength/3+1..plength]
          .column1{:style=>"margin-left:5px;"}
            - @photos_first.each do |photo|
              - r = rand(1..11)
              %div.pic-thumb-container{:style=>"position:relative;", :class=>"pic-thumb-alt#{r}"}
                %div.pic-thumb{:id=>"#{photo.id}"}
                  = image_tag photo.photo.url(:small), :class => "pic"
                %div.pic-thumb-descr2
                  %span{:style=>"margin:5px;"}
                    = photo.title
                %div.pic-thumb-descr
                  %span{:style=>"margin:5px;font-size:0.95em;"}
                    @
                    = User.find_by_id(photo.user_id).username
                  .like-button{:id=>"#{photo.id}"}
                    %a.btn
                      - if Like.where("user_id = ? AND photo_id = ?", @user.id.to_i, photo.id.to_i).first == nil
                        %i.icon-thumbs-up{:id=>"icon_#{photo.id}"}
                      - else
                        %i.icon-thumbs-down{:id=>"icon_#{photo.id}"}
                  .clear
          .column2
            - @photos_second.each do |photo|
              - r = rand(1..11)
              %div.pic-thumb-container{:style=>"position:relative;", :class=>"pic-thumb-alt#{r}"}
                %div.pic-thumb{:id=>"#{photo.id}"}
                  = image_tag photo.photo.url(:small), :class => "pic"
                %div.pic-thumb-descr2
                  %span{:style=>"margin:5px;"}
                    = photo.title
                %div.pic-thumb-descr
                  %span{:style=>"margin:5px;font-size:0.95em;"}
                    @
                    = User.find_by_id(photo.user_id).username
                  .like-button{:id=>"#{photo.id}"}
                    %a.btn
                      - if Like.where("user_id = ? AND photo_id = ?", @user.id.to_i, photo.id.to_i).first == nil
                        %i.icon-thumbs-up{:id=>"icon_#{photo.id}"}
                      - else
                        %i.icon-thumbs-down{:id=>"icon_#{photo.id}"}
                  .clear
          .column3
            - @photos_third.each do |photo|
              - r = rand(1..11)
              %div.pic-thumb-container{:style=>"position:relative;", :class=>"pic-thumb-alt#{r}"}
                %div.pic-thumb{:id=>"#{photo.id}"}
                  = image_tag photo.photo.url(:small), :class => "pic"
                %div.pic-thumb-descr2
                  %span{:style=>"margin:5px;"}
                    = photo.title
                %div.pic-thumb-descr
                  %span{:style=>"margin:5px;font-size:0.95em;"}
                    @
                    = User.find_by_id(photo.user_id).username
                  .like-button{:id=>"#{photo.id}"}
                    %a.btn
                      - if Like.where("user_id = ? AND photo_id = ?", @user.id.to_i, photo.id.to_i).first == nil
                        %i.icon-thumbs-up{:id=>"icon_#{photo.id}"}
                      - else
                        %i.icon-thumbs-down{:id=>"icon_#{photo.id}"}
                  .clear
        - else
          .error-message{:style=>"margin-top:10px;"}
            No photos found.
      .clear
    .black-background#photo-popup-view{:style => "z-index:-10;visibility:hidden;"}
      .black-background-specific
      .popup
        .popup-left{:style=>"line-height:394px"}
          %img.picpic{:src=>"#{root_url}/assets/lake_fall.jpg"}
        .popup-right
          %div.popup-username-like
            %div.popup-username
              %a{:href=>"/user", :style=>"font-size:1.1em;"}
                amadeus
            %div.popup-like
              %i.icon-thumbs-up
              %span.like-count{:style=>"color:#000"}
                12
          %div.popup-location
            %a.map-popup{:style=>"text-decoration:underline;cursor:pointer;"}
              Berkeley, CA
            %button.btn#go-to-map-view
              Go To Map View
          %div.popup-description
            "Beautiful lake with a nice view of the fall leaf colors."
          .vspacer15
          .hr-divider
          %div.popup-comment-box
            #comment-container
              .popup-comment
                %span.popup-comment-username
                  %a{:href=>"/userchopin"}
                    &nbsp;chopin:
                %span.popup-comment-text
                  Looks inspiring for composing music!
            %div.popup-comment-input
              %input{:type=>"text", :style=>"width:170px;height:13px;font-size:0.7em;position:relative;top:2px;margin-left:7px;"}
              %a.btn.btn-mini{:style=>"position:relative;top:-3px;"}
                comment
    .black-background#map-popup-view{:style => "z-index:-10;visibility:hidden"}
      .black-background-specific
      .popup.popin
        .popup-left
          #map.crazy
        .popup-right
          %button.btn#go-to-photo-view{:style=>"margin-top:10px;"}
            Go To Photo View
    :javascript
      $(function() {
        map = new GMaps({
          div: '#map',
          lat: -12.043333,
          lng: -77.028333
        });
        $(".popup-like i").click(function() {
          $likebutton = $(this);
          $.ajax({
            url: "/add_like",
            data: {
              action_name: "like",
              action_data: {
                photo_id: photo_id,
                user_id: "#{@user.id}"
              }
            },
            success: function(data) {
              $icon = $likebutton
              if (data.is_liked) {
                  $icon.attr('class', 'icon-thumbs-down');
                  $("#icon_" + photo_id).attr('class', 'icon-thumbs-down');
                  $(".popup-like .like-count").html(parseInt($(".popup-like .like-count").html()) + 1);
              }
              else {
                  $icon.attr('class', 'icon-thumbs-up');
                  $("#icon_" + photo_id).attr('class', 'icon-thumbs-up');
                  $(".popup-like .like-count").html(parseInt($(".popup-like .like-count").html()) - 1);
              }
            }
          });
        })
        $("#photo-popup-view a.btn-mini").click(function() {
          newtext = $(this).siblings("input[type='text']").val();
          $(this).siblings("input[type='text']").val("");
          $.ajax({
            url: "/add_like",
            data: {
              action_name: "comment",
              action_data: {
                photo_id: photo_id,
                comment_text: newtext,
                user_id: #{@user.id}
              }
            },
            success: function(data) {
              if (data.commented) {
                $(".popup-comment-box").append('<div class="popup-comment"><span class="popup-comment-username"><a>#{@user.username}</a>: </span><span class="popup-comment-text">'+newtext+'</span></div>');
              }
            }
          });

        });
        $(".pic-thumb-container .like-button").click(function() {
          photo_id = $(this).attr('id');
          $likebutton = $(this);
          $.ajax({
            url: "/add_like",
            data: {
              action_name: "like",
              action_data: {
                photo_id: photo_id,
                user_id: "#{@user.id}"
              }
            },
            success: function(data) {
              $icon = $likebutton.children().children()
              if (data.is_liked) {
                  $icon.attr('class', 'icon-thumbs-down');
              }
              else {
                  $icon.attr('class', 'icon-thumbs-up');
              }
            }
          });
        });
        var photo_id
        $(".pic-thumb-container .pic").click(function() {
          photo_id = $(this).parent().attr('id');
          $.ajax({
            url: "#{root_path}photoinfo/" + photo_id,
            data: {
              user_id: #{@user.id}
            },
            success: function(data) {
              comments_array = data["comments"];
              comment_owners = data["comment_owners"];
              number_likes = data["likes"];
              large_photo_url = data["large_photo"];
              city = data["photo"]["city"];
              state = data["photo"]["state"];
              description = data["photo"]["description"];
              title = data["photo"]["title"];
              username = data["username"];

              map.removeMarkers();
              map.setCenter(
                data["photo"]["latitude"],
                data["photo"]["longitude"]
              );
              map.addMarker({
                lat: data["photo"]["latitude"],
                lng: data["photo"]["longitude"]
              });

              $(".popup-like i").attr('class', (!data.is_liked) ? "icon-thumbs-up" : "icon-thumbs-down");
              $(".popup-left .picpic").attr('src',large_photo_url);
              $(".popup-right .like-count").text(number_likes.toString());
              $(".popup-right .map-popup").text(city + ", " + state);
              $(".popup-right .popup-username a").text(username);
              $(".popup-right .popup-username a").attr("href", "/user/" + username);
              $(".popup-right .popup-description").text(description);
              $(".popup-right #comment-container").html('');
              for (i in comments_array) {
                $(".popup-right #comment-container").append(
                  '<div class="popup-comment"><span class="popup-comment-username"><a href="/user/' +
                  comment_owners[i] + '">' +
                  comment_owners[i] + '</a>: </span><span class="popup-comment-text">' +
                  comments_array[i].comment_text + '</span></div>');
              }
              console.log(comment_owners.length);

              $("#photo-popup-view").css("z-index", 10);
              $("#photo-popup-view").css("visibility", "visible");
            }
          });
        });
      });
